*~ 
*core 
core 
*.srec
*.lst 
*.map
*.cprg 
*.bin 
*.data 
contiki*.a 
*.firmware 
core-labels.S 
*.ihex 
*.ini
*.ce 
*.co
*.cc2530dk 
*.lnk 
*.lk 
*.sym 
*.lib 
*.ihx 
*.rel 
*.mem 
*.rst 
*.asm  
*.omf 
*.cdb 
*.banks 
*.flags 
*.banked-hex 
symbols.c 
symbols.h
obj_cc2530dk
